@charset "UTF-8";
@import "fb-function";
@import (reference) "fb-common";

/**
*用户样式表
*2017-08-28
*徐继强
*引用 fb-function.less构造函数样式   fb-common.less主体函数样式
*/
//注册
.register-box {
  .disk-type();
  .layer-padding-num(60px 0);
  background: url("@{imgs}/register-bg.jpg") center;
  .register-bar {
    .fb-block-center;
    width: 1122px;
    background: #fefefe;
  }
}

//步骤
.register-step {
  .fb-block-center;
  width: 716px;
  padding: 40px 0 30px;
  .clear;
  .step {
    .fl-left;
    .bg {
      display: block;
      width: 100%;
      .text-mid-line(60px);
      .fs-number(30px);
      .tc-fff;
    }
    .tx {
      display: block;
      width: 90px;
      line-height: 20px;
      margin-left: -15px;
      margin-top: 10px;
      .fs-14;
      .tm-center;
      .text-color(@gray-99);
    }
    &.active {
      .tx {
        .text-color(#04b1ff);
      }
    }
    &.step1 {
      width: 203px;
      background: url("@{imgs}/step1.png") no-repeat;
      .bg {
        .tm-left;
        text-indent: 22px;
      }
      &.active {
        .bg {
          background: url("@{imgs}/step1-active.png") no-repeat;
        }
      }
    }
    &.step2 {
      width: 334px;
      background: url("@{imgs}/step2.png") no-repeat;
      .bg {
        .tm-center;
        text-indent: -14px;
      }
      .tx {
        margin-left: 114px;
      }
      &.active {
        .bg {
          background: url("@{imgs}/step2-active.png") no-repeat;
        }
      }
    }
    &.step3 {
      width: 179px;
      background: url("@{imgs}/step3.png") no-repeat;
      .bg {
        .tm-center;
        text-indent: 115px;
      }
      .tx {
        margin-left: 105px;
      }
      &.active {
        .bg {
          background: url("@{imgs}/step3-active.png") no-repeat;
        }
      }
    }
  }
}

//内容
.register-cont {
  .fb-block-center;
  .fn-set-width(380px);
  .title-bar {
    .fb-block;
    .text-color(@gray-33);
    .tm-center;
    span {
      .fb-block;
      .fn-set-margin(10px, bottom);
      .tm-bold;
      .fs-number(28px);
    }
    label {
      .fs-number(16px);
      a {
        .text-color(@user-color);
      }
    }
  }
}

//表单列表
.user-form {
  .fb-block;
  .item {
    .fb-block;
    .clear;
    margin-bottom: 15px;
    & > label {
      .fb-block;
      .text-mid-line(40px);
      .border-all(1px, solid, @gray-99);
      .border-radius(3px);
      padding: 0 10px;
      input {
        &[type="text"], &[type="password"] {
          .fb-block;
          .fn-set-width(100%);
          .text-mid-line(20px);
          .border-none;
          .fs-16;
          background: transparent;
          margin-top: 10px;
        }
      }
      &.code {
        .fn-set-width(200px);
        .fl-left;
      }
    }
    .code-btn {
      .set-layout("block", 120px, 42px);
      .fl-right;
      img {
        .fb-height;
      }
    }
    .intro{
      .user-type(none);
      .fs-16;
      a{
        .text-color(@user-color);
      }
    }
  }
  .btn-bar {
    margin-top: 30px;
    padding-bottom: 50px;
    a {
      .text-mid-line(42px);
      .tm-center;
      .fs-number(24px);
      .tc-fff;
      line-height: 40px;
    }
  }
}





